name: adaptive_pop_scope
description: Custom pop scope widget to allow Apple user (iOS, iPadOS and macOS) uses the back gesture
version: 1.0.5
repository: https://github.com/abdur-rohman/Adaptive-Pop-Scope

environment:
  sdk: ">=2.17.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.1
